
* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #4d4d4d;
    -fx-blue: #1976D2;
    -fx-red: #DC143C;
    -fx-color-1:#1976D2;
}

.vbox{
	 -fx-background-color: -fx-primarytext;
}

.button{
    -fx-text-fill: -fx-red;
    -fx-background-color: -fx-primary;
      -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-font-size: 11.0pt;
    -fx-font-weight: bold;
}

 .button:hover {
    -fx-border-color: -fx-red;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
 	 -fx-font-size: 12.0pt;
 	 -fx-font-weight: bold;
}

.label{
	-fx-text-fill: -fx-secondary;
	-fx-font-size: 14.0pt;
	 -fx-font-weight: bold;
}

